.header {
  background-color: rgb(50, 167, 145);
  display: flex;
}

/* Requisito 5 - Formulário  */
#main-content {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

/* Requisito 10 */
#input-name {
  flex-direction: row;
  width: 200px;
}

#input-lastname {
  flex-direction: row;
  width: 200px;
}
